{% extends 'rango/base.html' %}
{% load staticfiles %}

<title>
{% block title_block %}
    About Rango
{% endblock %}
</title>

{% block body_block %}
    <h1>Here is the about page</h1>
    <p>Visits: {{ visits }}</p>    <div>
        about this page <br />
        <strong>{{ boldmessage }} </strong> <br />
    </div>

    <div>

        <img src="{% static 'images/rangoimg.jpg' %}" alt="Picture of Rango" width= "400" height="600"/>
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of Cat" />
    </div>
{% endblock %}

