<!DOCTYPE html> 
{% load staticfiles %}

<html>

    <head>
        <title>Rango</title>
    </head>
    
    <body>
        <h1>Here is the about page</h1>
    
        <div> 
            about this page <br />
            <strong>{{ boldmessage }} </strong> <br />
        </div>
        
        <div>
            <a href="/rango/">Home</a><br />
            <img src="{% static 'images/rangoimg.jpg' %}" alt="Picture of Rango" width= "400" height="600"/>
            <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of Cat" />
        </div>
            
    </body>

</html>