<!DOCTYPE html>

<html >
    <head>
        <title>Rango</title>
    </head>

    <body>
        <div>
            {% if category %}
            <h1> {{ category name }}</h1>
            {% if pages  %}
            <ul>
                 {% for page in pages %}
                <li> <a href=" {{ page.url }}">{{ page.title }} </a></li>
                 {% end for %}
            </ul>
            {% else %}
            <strong> No pages currently in category. </strong>
            {% end if %}
        {% else %}
            The Specified category does not exist.
        {% endif %}
        </div>
    </body>


</html>