<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>Rango</title>
    </head>
    
    <body>
        <h1>Rango says...</h1>
    
        <div> 
            Hey there partner! <br />
            <strong>{{ boldmessage }} </strong> <br />
        </div>

        <div>
            <h2>Most liked categories</h2>
        {% if categories %}
            <ul>
                {% for category in categories %}
                    <li>
                        <a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong> There are no categories present. </strong>
        {% endif %}
        </div>

        <div><strong>
            <h2>Most viewed Pages</h2>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li>
                        <a href="{{ page.url }}">{{ page.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            </strong>
        {% else %}
            <strong> There are no Pages present. </strong>
        {% endif %}
        </div>

        
        <div>
            <a href="/rango/about/">About</a><br />
            <a href="/rango/add_category/">Add a new category</a><br />
            <img src="{% static 'images/rangoimg.jpg' %}" alt="Picture of Rango" width= "400" height="600"/>
        </div>
            
    </body>

</html>